<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Manifest_Management_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Manifest_Management_System.My.MySettings>
            <setting name="NewManifestLocation" serializeAs="String">
                <value>O:\</value>
            </setting>
            <setting name="PermanentManifestLocation" serializeAs="String">
                <value>M:\RecentFiles\</value>
            </setting>
            <setting name="SQLServer" serializeAs="String">
                <value>gmap-server</value>
            </setting>
            <setting name="SQLInstance" serializeAs="String">
                <value>ENCORE</value>
            </setting>
            <setting name="SQLPort" serializeAs="String">
                <value>1776</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>ManifestManager</value>
            </setting>
            <setting name="DatabaseUser" serializeAs="String">
                <value>gmapuser</value>
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value>Password1</value>
            </setting>
            <setting name="StartFormWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="StartFormHeight" serializeAs="String">
                <value>725</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
        </Manifest_Management_System.My.MySettings>
    </userSettings>
</configuration>